.CollaborationSection {
    padding: 8rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url("../../assets/collaborations/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 75%, transparent 100%);
    }

    .hideInMobile {
        display: flex;
        justify-content: center;
    }

    .title {
        margin: 0 auto;
        text-align: center;
        font-size: 2.6rem;
        line-height: 2.7rem;
        font-weight: 500;
    }

    .subtitle {
        opacity: .8;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        line-height: 25px;
        font-weight: 100;
        text-align: center;
        width: min(920px, 90%);
        width: 80%;
        margin: 0 auto;
        margin-top: 2%;

    }

    .logosContainer {
        margin: 5rem auto;

        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 3rem;
        justify-items: center;
        align-items: center;
    }

    .buttonContainer {
        max-width: max-content;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px){
    .CollaborationSection .logosContainer {
        width: 90%;
    }
}

@media screen and (max-width: 1100px){
    // .hideInMobile {
    //     display: none !important;
    // }
    .CollaborationSection .logosContainer {
        width: 90%;
    }
}
@media screen and (max-width: 960px) {
    .CollaborationSection .logosContainer {
        width: 60%;
    }

    .CollaborationSection {

        .title {
            font-size: 280%;
            font-weight: 600;
        }

        .subtitle {
            line-height: 1.4rem;
            font-size: 100%;
        }
    }

    .hideInMobile {
        display: none !important;
    }
}

@media screen and (max-width: 868px) {
    .CollaborationSection .logosContainer {
        width: 60%;
    }

    .CollaborationSection {
        .title {
            font-size: 230%;
        }

      
    }

    .hideInMobile {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .CollaborationSection .logosContainer {
        width: 60%;
    }

    .CollaborationSection {
        .center {
            font-size: 90%;
        }

     
    }

    .hideInMobile {
        display: none !important;
    }
}

@media screen and (max-width: 650px) {
    .CollaborationSection {
        .title{
            margin:0% 1%;
        }
        .center {
            font-size: 85%;
        }

        .subtitle {
            font-size: 85%;
        }
    }

    .hideInMobile {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .CollaborationSection {
        padding-top: 10%;
        .logosContainer{
            width: 100%;
            margin-top: 5%;
            margin-bottom: 2%;
            padding:0;
        }
        .title{
            line-height: 2rem;
        }
        .gradientText{
            font-size: 15px;
        }
        .center {
            font-size: 60%;
        }
        .subtitle {
            font-size: 100%;
            margin-top: 2%;
        }
    }

    .hideInMobile {
        display: none !important;
    }
}

@media screen and (max-width: 390px) {
    .CollaborationSection {
        
        margin-top: 0%;
        padding-bottom: 20%;
        .logosContainer{
            scale: .8;
        }
        .gradientText{
            font-size: 10px;
        }
        .center {
            font-size: 50%;
            font-weight: 100;
        }
        .subtitle {
            font-size: 110%;
            font-weight: 100;
        }
    }

    .hideInMobile {
        display: none !important;
    }
}