.FeaturedWorkSection {
    position: relative;
    &::before {

        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        // background-image: url("../../assets/collaborations/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 75%, transparent 100%);
    }

    .title {
      margin: 0 auto;
      text-align: center;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 500;
    }
    
    .subtitle {
      opacity: .8;
      font-size: 1.1rem;
      line-height: 25px;
      text-align: center;
      width: min(900px, 90%);
      margin: 0 auto;
      margin-top: 1.5rem;
      margin-bottom: 3rem;

    }
    .wrapper {

    .featuredWorkContainer {
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;  
        
        // width: 100px;
        // height: 66px;
        // background-color: rgba(255, 255, 255, 0.2);
        // border: 1px solid rgba(0, 0, 0, 0.4);
        // border-radius: 5px;
        // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        // margin-bottom: 10px;
        
    }
}

   

    .buttonContainer {
        max-width: max-content;
        margin: 0 auto;
    }
}
@media screen and (max-width: 920px) {
    .FeaturedWorkSection{
    .wrapper{
        scale: .9;
    }
     .subtitle {
        margin-bottom: 0;
         font-size: 1rem !important;
     }
 
     .title {
         font-size: 2.5rem !important;
     }
  
    }
 
 }
 @media screen and (max-width: 749px) {
    .FeaturedWorkSection{
    .wrapper{
        scale: 1;
    }
     .subtitle {
        margin-bottom: 0;
         font-size: 1rem !important;
     }
 
     .title {
         font-size: 2.5rem !important;
     }
  
    }
 
 }
 @media screen and (max-width: 450px) {
    .FeaturedWorkSection{
     .subtitle {
         font-size: .7rem !important;
     }
     .featuredWorkContainer{
        gap: 0px;
     }
 
     .title {
         font-size: 2rem !important;
     }
    }
 
 }