body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: url('../../img/BgImg/BGIMG.png') center/cover no-repeat;
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
  max-width: 1200px;
  margin: 50px auto;
  margin-bottom: 50px;
  border-radius: 65px;
  z-index: 1;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 65px;
  padding: 1.5px;
  background: linear-gradient(90deg, #ffffffef, #ffffff25);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 50px;
  background-color: rgba(60, 91, 100, 0.5);
  border-radius: 75px;
  z-index: 1;
}

.bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 65px;
  padding: 1.5px;
  background: linear-gradient(90deg, #ffffffef, #ffffff25);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.header .logo {
  height: 50px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-left: 2%;
  border-radius: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header .header-icons,
.bottom .bottom-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.portfolio-btn {
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.content {
  position: relative;
  text-align: center;
  margin-top: -50px;
  color: white;
  width: 100%;
  z-index: 1;
}

.content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 183, 255, 0.304), transparent 70%);
  filter: blur(200px);
  z-index: -1;
  opacity: 1;
}

.headline {
  font-size: 5rem;
  font-weight: 300;
}

.subheadline {
  font-size: 1rem;
  margin: 20px 0;
  line-height: 25px;
  font-weight: 200;
}

.chat-button {
  margin-top: 20px;
}

.clients {
  display: flex;
  justify-content: left;
  gap: -15px;
}

.client-img {
  width: 50%;
  height: 50px;
  border-radius: 50%;
  margin-left: 10%;
}

.overlap {
  margin-left: -15px;
}

.bottom-label {
  font-size: 150%;
  padding-left: 8%;
}

@media (max-width: 1114px) {
  .header {
    width: 85%;
    margin-bottom: 10%;
  }

  .bottom {
    width: 80%;
    height: 10%;
    flex-direction: row;
    align-items: center;
  }

  .bottom-label {
    font-size: 1.5rem;
    width: 100%;
  }

  .headline {
    font-size: 400%;
  }

  .subheadline {
    font-size: 90%;
  }

  .portfolio-btn {
    width: 80%;
  }
}

@media (max-width: 914px) {
  .header {
    width: 95%;
  }

  .bottom {
    width: 60%;
    height: 8%;
    flex-direction: row;
    align-items: center;
  }

  .bottom-label {
    font-size: 100%;
    width: 100%;
  }

  .client-img {
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .clients {
    width: 30%;
    margin: 0%;
  }

  .headline {
    font-size: 390%;
  }

  .subheadline {
    font-size: 90%;
  }
}

@media (max-width: 650px) {
  .headline {
    font-size: 300%;
  }

  .icon {
    display: none;
  }

  .subheadline {
    font-size: 0.7rem;
    line-height: 20px;
  }

  .content {
    padding: 20px;
  }

  .header .logo {
    height: 45px;
  }

  .header .header-icons {
    gap: 10px;
  }

  .bottom-label {
    font-size: 80%;
  }

  .portfolio-btn {
    display: none;
  }
}

@media (max-width: 550px) {
  .headline {
    font-size: 250%;
    line-height: 1.2;
  }

  .subheadline {
    font-size: 0.8rem;
    line-height: 18px;
  }

  .content {
    padding: 15px;
  }

  .header .logo {
    height: 40px;
  }

  .clients {
    justify-content: center;
    gap: 5px;
  }

  .bottom {
    width: 70%;
  }

  .client-img {
    width: 40%;
    height: 40px;
  }

  .portfolio-btn {
    display: none;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 280%;
  }

  .subheadline {
    font-size: 0.5rem;
  }
}

@media (max-width: 450px) {
  .headline {
    font-size: 250%;
    line-height: 1;
  }

  .subheadline {
    font-size: 0.5rem;
    line-height: 16px;
  }

  .bottom {
    flex-direction: row;
    width: 70%;
  }

  .bottom-label {
    font-size: 70%;
  }

  .client-img {
    width: 35%;
    height: 35px;
  }
}

@media (max-width: 380px) {
  .headline {
    font-size: 250%;
    line-height: 1;
  }

  .subheadline {
    font-size: 0.5rem;
    line-height: 16px;
  }

  .bottom {
    flex-direction: row;
    width: 70%;
    height: 5%;
  }

  .bottom-label {
    font-size: 50%;
  }

  .client-img {
    width: 35%;
    height: 35px;
  }

  .clients {
    width: 40%;
  }
}

.menu-button {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 10;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  z-index: 9;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.mobile-menu.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.mobile-menu ul {
  list-style-type: none;
  margin: 0;
  padding-top: 9%;
  line-height: 7vh;
}

.mobile-menu li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.142);

  position: relative;
}

.mobile-menu li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #2db5ebbb;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
}

@media (max-width: 650px) {
  .header-icons {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
